*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: black;
}
#obox
{ background-color: rgba(14, 25, 34, 0.959);
  width: 40rem;
  height: 33rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(143, 142, 142, 0.692);
  border-radius: 1rem;
  margin: 3rem 0 0 10rem;
  overflow: hidden;
}
#dispscreen
{
    background-color: rgba(179, 202, 223, 0.397);
    border-radius: 0.5rem;
    border : none;
    outline: none;
    height: 5rem;
    width: 31.6rem; 
    margin: 2rem 0rem 0rem 4rem;
    font: 3rem bold;
    text-align: end;
    color: blanchedalmond;
    overflow: auto;
}
.btndiv
{     
      margin: 2rem 2.5rem 0rem 2.5rem;
}
.numdiv{
    float: left;
    margin-right: 2rem;
}
.btns
{
    width: 6rem;
    height: 3.7rem; 
    margin: 1.1rem;
    background-color: rgb(71, 69, 70);
    border: none;
    border-radius: 1rem;
    font: 1.85rem bold;
    color: antiquewhite;

}
.btns:hover
{
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem  rgb(116, 112, 114);
}
.btns:active
{
    background-color:  rgb(22, 20, 21);
}

#eqlbtn
{
    background-color: rgb(51, 167, 15);
}
#eqlbtn:active
{
    background-color: rgb(26, 73, 11);
}

.ssign
 {  height: 2.9rem; 
    margin: 1.1rem 0 0.6rem 0;
    background-color: rgb(27, 140, 155);
}
.ssign:active
{
    background-color: rgb(9, 84, 94);
}

#cancelbtn
{
    background-color: rgb(252, 70, 70);
}
#cancelbtn:active
{
    background-color: rgb(146, 12, 34);
    
}

@media only screen and (max-width: 600px) {
body
{
    overflow: hidden;
}
#obox
{ 
  width: auto;
  height: 44rem;
  margin: 0;
  border: none;
  border-radius: 0;
   
}
#dispscreen
{   
    border-radius: 0.5rem;
    width: 20.5rem; 
    margin: 3rem 0rem 0rem 1rem;
    font: 3rem bold;
    padding: 0 0.7rem 0 0.7rem;
    box-shadow: 0 0 10px rgba(6, 9, 12, 0.959);
}
.btndiv
{     
    width: 25rem;
    margin: 3.3rem 0rem 0rem 0.1rem;
}
.numdiv{
    
     width: auto;
}
.sdiv
{   width: min-content;
    height:30rem;
    overflow: hidden;
}
.btns
{
    width: 4.3rem;
    height: 6rem; 
    margin: 0rem 0.1rem 2rem 1rem;
    border-radius: 1rem;
    font: 1.85rem bold;
    box-shadow: 0 0 10px rgba(1, 10, 17, 0.959);
}
.btns:hover
{
    box-shadow: none;
}

.ssign
 {  height: 5rem;
    box-shadow: 0 0 10px rgba(1, 10, 17, 0.959);
    margin: 0.2rem 0 1rem 0rem;
}

}


/* removed properties of old cancel button in dispscreen 
#cancelbtn
{   float: left;
    width:1em;
    height:1em;
    text-align:center;
    padding: 3px;
    font: 1em bold ;
    color: black;
    border: solid 7px rgb(168, 2, 30);
    border-radius: 2em;
    margin: 1em 0.5em 0em 0.5em;
}


Removed text field properties
#text
{   float: right;
    color: blanchedalmond;
    font: 2em bold;
    text-align: end;
    margin-top: 0.7em;
} 

removed float property for sign btn divs and margined right using numdiv
.sdiv{
    float : right
}

*/