body
{
    background-color: black;
}
#obox
{ background-color: rgba(14, 25, 34, 0.959);
  width: 40em;
  height: 33em;
  box-shadow: 3px 3px 3px 3px rgba(143, 142, 142, 0.692);
  border: solid 3px  rgba(14, 25, 34, 0.959);
  border-radius: 15px;
  margin: 3em 0 0 30%;
  overflow: hidden;
}
#dispscreen
{
    background-color: rgba(179, 202, 223, 0.397);
    border: solid 1px  rgba(179, 202, 223, 0.397);
    border-radius: 5px;
    height: 4em;
    width: 33em;
    margin: 2em 2.5em 0em 3em;
}
#text
{    color: blanchedalmond;
    font: 2em bold;
    text-align: end;
    margin-top: 0.7em;
}
.btndiv
{     
      height: 30em;
      width: 35em;
      margin: 2em 2.5em 0em 2.5em;
}
.btns
{
    width: 3em;
    height: 2em; 
    margin: 0.6em;
    background-color: rgb(71, 69, 70);
    border: solid 2px  rgb(71, 69, 70);
    border-radius: 10px;
    font: 30px bold;
    color: antiquewhite;

}
.btns:hover
{
    box-shadow: 1px 1px 1px 1px  rgb(116, 112, 114);;
}
.btns:active
{
    background-color:  rgb(22, 20, 21);;
}
.ssign
{
    margin-left: 2em;
    background-color: rgb(27, 140, 155);
}
.ssign:active
{
    background-color: rgb(9, 84, 94);
}
#eqlbtn
{
    background-color: rgb(51, 167, 15);
}
#eqlbtn:active
{
    background-color: rgb(26, 73, 11);
}